<p>Hi <%= @email.name %></p>
<p>
    Thank you for using Reservouz to make a reservation.

    We are delighted to confirm that <%= @venue.name %> look forward to welcoming you on <%= @date %> at <%= @time %>.

</p>

Kind Regards<br />
Reservouz Team