<p>Hi NAME</p>
<p>
    Thank you for using Reservouz to make a reservation.

    We are delighted to confirm that Nathasha Chabelnique look forward to welcoming you on Saturday 27 March at 15:00.

</p>

Kind Regards,<br />
Reservouz Team