must ensure that you cannot view this view unless you are logged in and you are the user for this venue
<h1>show the venue to the venue owner</h1>
<br />
<h5>link to or show details of the venue (name, address, users for venue, logo and venue card image) + allow user to edit</h5>
<%= @venue.inspect %>
<br /><br />
<h5>link to or show the venue policy (M-Su opening hours, concurrent bookings, duration allowed, timezone, contact email for venue + allow user to edit</h5>
<%= @venue.policy.inspect %>
<br /><br />
<h5>link to or show the reservations for next months</h5>
<%= @reservations.inspect %>
<br /><br />
<h5>click slot to view details of person that booked it</h5>
<h5>cancel a booking</h5>
<h5>contact customer</h5>
<h5>set slots / days as busy</h5>


<br />

