<div>  
  <div class="col-12">
    <div class="cntr txt-clr-white">
      <div class="container">
        <br /><br /><br /><br />
        <div class="cntr title">bear with us, we're building this functionality at the moment.</div>
    <br />
        <br /><br /><br />
      </div>
    </div>
  </div>
  <div class="col-12 white-background">
    <div class="cntr">
      <br />
      <img src="/assets/bear.jpg" width="20%" height="20%" alt="sign up" /><br />
    </div>
    <br />
    <div class="cntr">
      <div class="subtitle.txt-clr-gray">for now you can use <%= link_to 'our app', "https://apps.apple.com/us/app/reservouz/id1558370820" %>, you don't even need to install it, just point your camera at the qr code displayed at the venue where you want to make a reservation.</div>
      <br />
      <br />
      <div class="subtitle.txt-clr-gray">an App Clip experience will launch immediatley that let's you view free and busy time and make a reservation.</div>
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    </div>
    <div class="row">
    </div>
  </div>
</div>

<!-- 
<%= link_to "selected venue", new_reservation_path(venue: "12345") %>
 -->