<div>  
  <div class="col-12">
    <div class="cntr txt-clr-white">
      <div class="container">
        <br /><br /><br /><br />
        <div class="large-title">what can reservouz do for you?</div>
        <br /><br /><br /><br /><br /><br />
      </div>
    </div>
  </div>
  <div class="col-12 white-background">
    <br /><br />
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2">
        <div class="two-column right">
          <div class="title txt-clr-grey">about reservouz</div><br />
          <div class="subtitle grey">
            reservouz lets you take reservations online without having to build, manage and maintain your own IT systems.
          </div>
          <div class="subtitle grey pad">
            simply sign up your venue and manage all your bookings from your own web based control panel.
          </div>
          <div class="subtitle grey pad">
            your customers can take advantage of our great App Clip experience to make a booking via our app without even installing anything on their phone.
          </div>
        </div>
      
        <div class="two-column left">
          <br />
          <img src="/assets/about.jpg" width="120%" height="120%" alt="about reservouz" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2">
        <div class="two-column right">
          <img src="/assets/venue.jpg" width="110%" height="110%" alt="your business" />
        </div>
        <div class="two-column left">
          <div class="title txt-clr-grey">for you</div><br />
          <div class="subtitle grey">
            tell us your opening hours and a few more details, then your customers can start making reservations with you.
          </div>
          <div class="subtitle grey pad">
            we have a super easy control panel so you can view and manage bookings without any fuss, it's so easy.
          </div>
          <div class="subtitle grey pad">
            we'll provide you with a qr code that lets customers scan and make a reservation with you in seconds.
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2">
        <div class="two-column right">
          <div class="title txt-clr-grey">for your customers</div><br />
          <div class="subtitle grey">
            your customers can scan a qr code to launch an Apple App Clip experience customised for your venue.
          </div>
          <div class="subtitle grey pad">
            they enjoy an instant in-app experience when making a reservation without installing anything.
          </div>
          <div class="subtitle grey pad">
            the reservouz app also enables users to find your venue on maps or when they are in close proximity to you.
          </div>
        </div>
        <div class="two-column left">
          <img src="/assets/customers.jpg" width="80%" height="80%" alt="your customers" />
        </div>
      </div>
    </div>    
  </div>
</div>
<br /><br /><br /><br />
<div class="cntr">
  <div class="txt-clr-gray title">
    <%= link_to 'try it free for 1 month, find out more', pricing_path %>
  </div>
</div>
<br /><br /><br /><br />





