<% colour = "#03F519" %>
<body style="background-color: <%= colour %>">
<h1 style="color:white;font-family:'verdana';font-size:600%">reservouz</h1>
<h3 style="color:white;font-family:'verdana';font-size:300%">more details to follow..</h3>