<% colour = "#03F519" %>
<body style="background-color: <%= colour %>">
<h1 style="color:white;font-family:'verdana';font-size:600%">reservouz</h1>
<h3 style="color:white;font-family:'verdana';font-size:300%">coming soon..</h3>
<p style="color:white;font-family:'verdana';font-size:300%">
  if you are a venue looking to use reservouz, please <%= mail_to "info@drysky.co.uk", 'contact us' %> 
</p>
<p style="color:white;font-family:'verdana';font-size:300%">
  download the app, coming soon...
</p>
<br />
<br />
<%= link_to "support", support_path %>
<br />
<%= link_to "privacy policy", privacy_path %>