<div>  
  <div class="col-12">
    <div class="cntr txt-clr-white">
      <div class="container">
        <br /><br /><br /><br />
        <div class="large-title">try it for free</div>
        <br /><br />
        <div class="title">use reservouz without obligation for one month for free</div>
        <br /><br /><br /><br /><br /><br />
      </div>
    </div>
  </div>
  <div class="col-12 white-background">
    <br /><br />
    <div class="row cntr">
      <div class="column">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title txt-clr-gray">free trial</h3>
            <h2 class="card-text">$0</h2>
            <br />
            <h5 class="card-text">use for one month without any charges or obligations.</h5>
            <h5 class="card-text">allows your customers to make up to 20 reservations during the trial. upgrade to any plan at any time.</h5>
            <a href="<%= new_user_registration_path %>" class="btn btn-primary">sign up now</a>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title txt-clr-gray">standard plan</h3>
            <h2 class="card-text">$9.99</h2>
            <br />
            <h5 class="card-text">allow unlimited customers to make unlimited reservations at your venue.</h5>
            <h5 class="card-text">price per month with no minimum period, stop at any time without obligation or upgrade to enterprise plan.</h5>
            <a href="<%= new_user_registration_path %>" class="btn btn-primary">sign up now</a>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title txt-clr-gray">enterprise plan</h3>
            <h2 class="card-text">$19.99</h2>
            <br />
            <h5 class="card-text">allow unlimited customers to make unlimited reservations at as many venues as you wish.</h5>
            <h5 class="card-text">price per month with no minimum period, stop at any time without obligation.</h5>
            <a href="<%= new_user_registration_path %>" class="btn btn-primary">sign up now</a>
          </div>
        </div>
    </div>
    <br />
  </div>
  <br />
</div>


