
<br />
<div class="col-10 offset-1 col-sm-8 offset-sm-2 col-md-10 offset-md-1 col-xs-10 offset-xs-1">
  <div class = "nrdl-head">
    <a>frequently asked questions and support</a>
  </div>
  <br />
  

  <div class="panel-group" id="accordion">

    <div class="panel panel-default">
      <div class="panel-heading">
        <div class = "nrdl-text">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
          What is a reservouz?</a>
        </div>
      </div>
      <div id="collapse1" class="panel-collapse collapse in">
        <div class="panel-body nrdl-lite">
          Reservouz is a service used by participating venues to enable their customers to make
          appointments from their mobile device with just a few clicks. Users can invoke the app
          by scanning the qr code displayed at the venue or by opening the app in the vicinity of
          the venue. From there users can see the venue's availability and book a slot with a couple fo clicks.
        </div>
      </div>
    </div>
    <br />

      <div class="panel panel-default">
      <div class="panel-heading">
        <div class = "nrdl-text">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
            What do you do with my personal details, can anyone else see my identity when I'm using reservouz?
          </a>
        </div>
      </div>
      <div id="collapse2" class="panel-collapse collapse in">
        <div class="panel-body nrdl-lite">
          Your details are never ever disclosed to anyone other than the venue with whom you make an
          appointment. Only that venue will receive your name and contact details. No other venue will ever be provided with the details you enter and no other user will ever see them.
        </div>
      </div>
    </div>
    <br />

    <div class="panel panel-default">
      <div class="panel-heading">
        <div class = "nrdl-text">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
            I just made a reservation with reservous, what happens next?
          </a>
        </div>
      </div>
      <div id="collapse3" class="panel-collapse collapse in">
        <div class="panel-body nrdl-lite">
          Your details were passed to the venue where you made the reservation. They also receive the time and date of your reservation. You will be sent a confimration via the contact details you provided when making the reservation in reservouz.
        </div>
      </div>
    </div>
    <br />

    <div class="panel panel-default">
      <div class="panel-heading">
        <div class = "nrdl-text">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
            Where can I see reservations which I made
          </a>
        </div>
      </div>
      <div id="collapse5" class="panel-collapse collapse in">
        <div class="panel-body nrdl-lite">
            We are currently working on the next version of reservouz where you will be able to view, amend and cancel your reservation in the app directly. We will let all users know when the new version is available for download.
        </div>
      </div>
    </div>
    <br />

    <div class="panel panel-default">
      <div class="panel-heading">
        <div class = "nrdl-text">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">
            I live on the other side of a border to the venue where I want to make a reservation.
            The venue is on a different timezone to me. How do I know what timezone the displayed availability is in?
          </a>
        </div>
      </div>
      <div id="collapse7" class="panel-collapse collapse in">
        <div class="panel-body nrdl-lite">
            The times displayed in reservouz are always those in the timezone of the venue. If you make a reservation at 9:00am with a venue that means 9:00am in the timezone of the venue. 
        </div>
      </div>
    </div>
    <br />

    <div class="panel panel-default">
      <div class="panel-heading">
        <div class = "nrdl-text">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse9">
            Does reservouz save any data on my phone?
          </a>
        </div>
      </div>
      <div id="collapse9" class="panel-collapse collapse in">
        <div class="panel-body nrdl-lite">
           No, after making a reservation at a venue the contact details you provided are not retained on your telephone.
        </div>
      </div>
    </div>
    <br />

    <div class="panel panel-default">
      <div class="panel-heading">
        <div class = "nrdl-text">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse11">
            I downloaded the app, after I click continue no venues are displayed?
          </a>
        </div>
      </div>
      <div id="collapse11" class="panel-collapse collapse in">
        <div class="panel-body nrdl-lite">
           Reservouz works by finding participating venues at your current location, only those venues are displayed. At present you need to be located by the venue in order to make a reservation at that venue. We are currently working on functionality to improve this and expect this to be live in teh next release.
        </div>
      </div>
    </div>
    <br />

    <div class="panel panel-default">
      <div class="panel-heading">
        <div class = "nrdl-text">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse12">
            Do I need to download Reservouz tro make an appointment at a venue?
          </a>
        </div>
      </div>
      <div id="collapse12" class="panel-collapse collapse in">
        <div class="panel-body nrdl-lite">
           No, if the venue displays an Apple App Clip qr code simply scan it and the app clip experience will open. This will display the availability for the venue whose qr code you just scanned and you can make an appointment from here. No need to install the app if you do not wish to.
        </div>
      </div>
    </div>
    <br />

    <div class="panel panel-default">
      <div class="panel-heading">
        <div class = "nrdl-text">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse13">
            Does Reservouz use my location all the time?
          </a>
        </div>
      </div>
      <div id="collapse13" class="panel-collapse collapse in">
        <div class="panel-body nrdl-lite">
           No, if you have the app installed we only use it briefly to find your location so that we can show you all the venues in your immediate vicinity at which you can make a reservation. If you use the app clip experience you location is not used at all. 
        </div>
      </div>
    </div>
    <br />

    <div class="panel panel-default">
      <div class="panel-heading">
        <div class = "nrdl-text">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse14">
            Do you store my location?
          </a>
        </div>
      </div>
      <div id="collapse14" class="panel-collapse collapse in">
        <div class="panel-body nrdl-lite">
           No never. As above we only use if to find out where you are and to show you the correct venues at your curret location. When you make an appointmnet we only capture your contact details and pass them securely onto the venue.
        </div>
      </div>
    </div>
    <br />

    <br />

  </div>


</div>