@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

div {line-height: 1;}

body {
  background: #03F519;
} 

.card {
  border-radius: 10%
}

.navbar-custom {
  background-color: #03F519;
}
  
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: white;
}

nav .navbar-nav li a {
  color: white !important;
}

.txt-clr-white {
  color: white;
}
.txt-clr-gray {
  color: #485154;
}

.logo-large {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 100px;
  padding: 0;
  margin: 0;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 40px;
}

.subtitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: white;
  font-size: 24px;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #00BA00;
  border-radius: 1%;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

.input-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: black;
  font-size: 20px;
  padding: 10px;
}

.input-label {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: white;
  font-size: 20px;
}

::placeholder {
  color: white
}

select {
  border-radius: 20px;
  padding: 10px;
  width: 100%;
}

img.responsive { width: 27%; }

.cntr {
  text-align: center;
}

.column {
  float: left;
  width: 33.3%;
  padding: 20px;
}

.two-column {
  float: left;
  width: 50%;
  padding: 20px;
}

.one-column {
  float: left;
  width: 100%;
  padding: 20px;
}

.field {
  width:100%;
}

.time-label {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: white;
  font-size: 18px;
}

.no-upper-padding {
    margin-top: 10px;
}



@media screen and (max-width: 992px) {
  .column {
    width: 100%;
  }

  .two-column {
    width: 100%;
  }
  img.responsive { width: 50%; }


}

@media screen and (max-width: 600px) {

  .input-label {
    font-size: 18px;
  }

  label {
    display: none !important;
  }

  ::placeholder {
    color: gray
  }

  .input-text {
    font-size: 18px;
  }

  .logo-large {
    font-size: 80px;
  }
  .title {
    font-size: 30px;
  }
  img.responsive { width: 80%; }
}
