<div id="footer">
  <div class="container">
    <div class = "row">
      <div class = "col-sm-12">

      </div>
    </div>
    <br />
    <div class = "row">
      <div class = "col-sm-4">
        <%= mail_to 'contact@reservouz.com', 'something to tell us? we love feedback' %><br/>
        <%= mail_to 'contact@reservouz.com', 'contact us if you want to use reservouz' %><br/>
        <br />
      </div>

      <div class = "col-sm-4">
        <%= link_to 'faq and support', support_path %><br/>
        <%= link_to 'terms & conditions', privacy_path %><br/>
        <br />
      </div>

      <div class = "col-sm-4">
        <a class="navbar-brand" target="_blank" href="https://www.facebook.com/nuurdle"/>
          <img src="/assets/fb.svg" width="30" height="30" alt="">
        </a>   

        <a class="navbar-brand" target="_blank" href="https://www.instagram.com/nuurdle/"/>
          <img src="/assets/insta.svg" width="30" height="30" alt="">
        </a>

        <a class="navbar-brand" target="_blank" href="https://twitter.com/nuurdle"/>
          <img src="/assets/tw.svg" width="30" height="30" alt="">
        </a>

        <a class="navbar-brand" target="_blank" href="https://play.google.com/store/apps/details?id=com.nuurdle.nuurdle"/>
          <img src="/assets/android.svg" width="30" height="30" alt="">
        </a>

        <a class="navbar-brand" target="_blank" href="https://itunes.apple.com/us/app/nuurdle/id856709280?ls=1&mt=8"/>
          <img src="/assets/apple.svg" width="30" height="30" alt="">
        </a>
        <br />
        <a>too shy to say hi ? &nbsp;get nüurdle now</a>
      </div>
      <br /><br />.
    </div>
  </div>
</div>